* {
  font-family: "Poppins", sans-serif;
}
html {
  height: 100%;
}
body {
  display: block;
  background-color: rgb(30, 30, 30);
  margin: 0;
  padding: 0;
  height: 100%;
}

table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-width: 80%;
}

th,
td {
  border: 1px solid black;
  min-width: 30%;
  height: 40px;
}
td {
  text-align: center;
  min-height: 100px;
}
tr {
  min-height: 100px;
}

table + p {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}

.button {
  display: block;
  width: fit-content;
  margin: 10px 0px;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  color: white;
  background-color: #1b5e20;
  text-decoration: none;
}

.button:hover {
  background-color: #388e3c;
}

img + h1 {
  display: inline-block;
}

.bgimg {
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("../images/background_1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../images/background_2.jpg");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("../images/background_3.jpg");
  min-height: 500px;
}

.bgimg-4 {
  background-image: url("../images/background_4.jpg");
  min-height: 500px;
}

.bgimg::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.bgimg + section h2 {
  text-transform: uppercase;
  letter-spacing: 20px;
  width: 100%;
  text-align: center;
}

.bgimg ~ section {
  color: rgb(80, 80, 80);
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

section ul {
  list-style-type: circle;
}

section li {
  margin: 10px 0;
}

.bgimg > h1 {
  text-decoration: none;
  opacity: initial;
  font-size: 4em;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  letter-spacing: 20px;
}

.bgimg > h2 {
  text-decoration: none;
  opacity: initial;
  font-size: 2.4em;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  letter-spacing: 20px;
}
