/* CSS File of every site */

/* Global settings */
* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Table css settings */
section table {
  margin: 20px 0px;
  border-collapse: collapse;
}

table+a {
  margin-top: 40px !important;
}

table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-width: 80%;
  max-width: 100%;
}

th,
td {
  border: 1px solid black;
  min-width: 30%;
  height: 40px;
}

td {
  text-align: center;
  min-height: 100px;
}

tr {
  min-height: 100px;
}

table+p {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}

.topbox {
  border-width: 3px 3px 1px 3px;
}

.botbox {
  border-width: 1px 3px 3px 3px;
}

.winner {
  border-width: 3px;
}

/* Button style */
.button {
  display: block;
  width: fit-content;
  margin: 10px 0px;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  color: white;
  background-color: #1b5e20;
  text-decoration: none;
  border: 0px;
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background-color: #388e3c;
}

/* Paralax scroll settings */
.bgimg {
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add dark layer with low opacity on images */
.bgimg::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Settings for section after images */
.bgimg+section h2 {
  text-transform: uppercase;
  width: 100%;
}

.bgimg~section {
  color: rgb(80, 80, 80);
  background-color: rgb(255, 255, 255);
  padding: 10px 10px;
}

main section:first-child {
  color: rgb(80, 80, 80);
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 120px;
}

/* Images */
.bgimg-1 {
  background-image: url("../images/background_1.jpg");
  min-height: 200px;
}

.bgimg-2 {
  background-image: url("../images/background_2.jpg");
  min-height: 200px;
}

.bgimg-3 {
  background-image: url("../images/background_3.jpg");
  min-height: 200px;
}

.bgimg-4 {
  background-image: url("../images/background_4.jpg");
  min-height: 200px;
}

.bgimg-5 {
  background-image: url("../images/background_5.png");
  min-height: 200px;
}

.bgimg-6 {
  background-image: url("../images/background_6.jpg");
  min-height: 200px;
}

.bgimg-7 {
  background-image: url("../images/background_winner.jpg");
  min-height: 500px;
}

/* Scroll element on images */
.bgimg>a:first-child {
  text-decoration: none;
  opacity: initial;
  font-size: 0.5em;
  position: absolute;
  right: 10px;
  bottom: 5px;
  text-align: right;
  color: rgb(158, 158, 158);
}

/* Text on images */
.bgimg>h1 {
  text-decoration: none;
  opacity: initial;
  font-size: 1.2em;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  color: white;
  letter-spacing: 5px;
}

.bgimg>h2 {
  text-decoration: none;
  opacity: initial;
  font-size: 1em;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  color: white;
  letter-spacing: 5px;
}

img+h1 {
  display: inline-block;
}

section ul {
  list-style-type: circle;
}

.header+section {
  padding-top: 180px;
}

section li {
  margin: 10px 0;
}

/* Add opacity if podest element is hovered */
.podest *:hover {
  opacity: 0.6;
}

/* Podest element css settings */
.podest {
  margin: 30px 0px;
  display: grid;
  gap: 0.5em;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 3.5em 3.5em 8em;
}

.podest * {
  padding-top: 0.5em;
  text-align: center;
  border-radius: 3px 3px 0 0;
  font-size: 1.2em;
  display: grid;
  justify-items: center;
}

.podest img {
  padding-top: 10px;
  width: 40px;
  height: 40px;
}

/* Podest elements */
div.podest .erster {
  grid-row: 1/-1;
  background-color: gold;
  border: 1px solid;
}

div.podest .zweiter {
  grid-row: 2/-1;
  background-color: silver;
  border: 1px solid;
}

div.podest .dritter {
  grid-row: 3/-1;
  background-color: #cb8e00;
  border: 1px solid;
}

div.podest div {
  grid-row: 1/-1;
}

/* Inputs */
input[type="number"] {
  color: #333;
  box-sizing: content-box;
  width: 40px;
  margin-left: 10px;
  border: 2px solid #1b5e20;
  border-radius: 7px;
  text-align: center;
}

input[type="number"]:focus {
  border: 2px solid #1b5e20;
}

/* Adjustements if screen width is min 300px */
@media (min-width: 300px) {
  .podest img {
    width: 50px;
    height: 50px;
  }

  .bgimg>h1 {
    font-size: 1.5em;
    letter-spacing: 10px;
  }

  .bgimg>h2 {
    font-size: 1.3em;
    letter-spacing: 10px;
  }
}

/* Adjustements if screen width is min 600px */
@media (min-width: 600px) {
  .podest img {
    width: 60px;
    height: 60px;
  }

  /* Change images to full width if screen is width enough */
  .bgimg-1 {
    min-height: 100%;
  }

  .bgimg-2 {
    min-height: 500px;
  }

  .bgimg-3 {
    min-height: 500px;
  }

  .bgimg-4 {
    min-height: 500px;
  }

  .bgimg-5 {
    min-height: 500px;
  }

  .bgimg-6 {
    min-height: 500px;
  }

  /* Bigger texts on images */
  .bgimg>h1 {
    font-size: 3.5em;
    letter-spacing: 20px;
  }

  .bgimg>h2 {
    font-size: 2.4em;
    letter-spacing: 20px;
  }

  .bgimg~section,
  main section:first-child {
    font-size: 1.2em;
    padding: 60px 80px;
  }
}