/* CSS file for past match sites */

/* Table */
.info {
  display: none;
  margin-left: 50px;
  min-width: 50%;
}

.info td {
  border: 0px;
  text-align: left;
  vertical-align: text-top;
}

.info tr > td:first-child {
  font-weight: bold;
}

.header + section {
  margin-top: 150px;
}

h3 > img {
  width: 30px;
  height: 30px;
}

h3 {
  display: inline-flex;
}

/* Adjustements if screen width is min 600px */
@media (min-width: 600px) {
  /* Show big table */
  .info {
    display: block;
  }
  /* Hide little table */
  .info-list {
    display: none;
  }
}

/* Adjustements if screen width is min 620px */
@media (min-width: 620px) {
  .header + section {
    margin-top: 80px;
  }
}
