/* CSS file for nav list */

/* General css settings to nav */
.header {
  position: absolute;
  width: 100%;
  transition: top 0.4s;
  background: linear-gradient(45deg, rgb(14, 14, 14) 0%, rgb(29, 29, 29) 100%);
  z-index: 999;
  box-shadow: 0px 10px 5px rgba(20, 20, 20, 0.3);
}
.header > ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.header ul {
  list-style-type: none;
  margin: 1;
  padding: 1;
}
.header li {
  display: inline;
  font-size: 1.3em;
  margin: 5px 15px;
}
/* If header has class sticky change position to fixed */
.header.sticky {
  position: fixed !important;
  top: 0;
}
/* Settings to links in nav list */
.header a {
  padding: 8px;
  color: white;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
/* If links are hovered */
.header a:hover {
  text-decoration: underline;
}
/* Add underline to element if underline class is present */
.underline {
  text-decoration: underline;
  font-weight: bold;
}

a > img {
  vertical-align: text-bottom;
  height: 24px;
}
/* Dropdown element */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropwdown keyframes for animation */
@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
/* CSS class for dropdown content */
.dropdown-content {
  animation: rotateMenu 400ms ease-in-out forwards;
  perspective: 1000px;
  transform-origin: top center;
  display: none;
  position: absolute;
  left: 0%;
  background-color: #000513;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links in dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Hovered links in dropdown */
.dropdown-content a:hover {
  text-decoration: underline;
}
/* If dropdown link in nav is hovered or active show dropwndown content  */
.dropdown:has(:hover, :active) .dropdown-content {
  display: block;
}
/* if dropdown link in nav is hovered change cursor to pointer and add underline */
.dropdown:hover .dropbtn {
  cursor: pointer;
  text-decoration: underline;
}

/* Nav list to row if screen width is min 620px */
@media (min-width: 620px) {
  .header > ul {
    flex-direction: row;
  }
}
